#contact-bg{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-image: url("../images/communication-contact-conversation-33999.jpg");
    background-size:cover;
}