#contact-bg{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-image: url("../images/antique-classic-color-220197.jpg");
   background-position: center;
   background-size:cover;
}