#dashboard-bg{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-image:url("../images/black-and-white-composition-conceptual-934071.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}