
#dashHero{
    height:90vh !important;
}
#dashboard-card{
    height:90vh;
    background:transparent;
    padding:2% 0 2%; 
    border:none;
}
#information-side{
    height:68vh;
}

#farRight{
   padding-right:2%
}

iframe{
    height:300px;
}
