#calendar-card{
    background-color: rgba(144, 151, 159, 0.913);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    
    height: 26vh;
}
.rbc-off-range-bg{
    background:transparent !important;
}

.rbc-header{
    color:whitesmoke
}

.rbc-toolbar button {
    color: whitesmoke !important;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: 1px solid #ccc;
    padding: .375rem .5rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap;
}


