#page-numbers {
    list-style: none;
    display: flex;
    position: absolute;
    margin-left: 46%;
    margin-top: 5%;
}
  
  #page-numbers > li {
    margin-right: .5em;
    color: white;
    user-select: none;
    cursor: pointer;
  }

  #page-numbers > li:hover {
    color: blue;
  }

  /* #podcast-card{
    background-color: #192f58;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    height: 8vh;
    margin-top:10px;
} */