.logo-card {
    position: relative;
}

.podcast-image {
    height: 90%;
    width: 95%;
    margin-left:1.5px;
    border:2px solid #50CFDE;;
    
}

.podcast-play{
    position: absolute;
    color: #0a0a0a;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.podcast-overlay {
    position: absolute;
    cursor: pointer;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    height: 95%;
    width: 95%;
    opacity: 0;
    transition: .3s ease;
    background-color: #50CFDE;
}

.logo-card:hover .podcast-overlay{
    opacity: 1;
}
