#wakatime-card{
    background-color: rgba(144, 151, 159, 0.913);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377), 0 6px 20px 0 rgba(0, 0, 0, 0.377);
    margin-top:50px;
   
}

.language-name{
    padding: 5px;
}

.light-grey{
    color: #50CFDE;
}